/*****--------------------GENRAL CSS--------------------*****/
body {
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23f8b015' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px auto;
    height: 100%;
    overflow: auto;
}

h1, h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

p {
    line-height: 24px;
}

/****is this doing anything??***/
header > p {
    margin: 0px auto;
}

/*****--------------------NAVIGATION CSS--------------------*****/

nav {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: 960px;
    margin: 0 auto;
    display: flex;
}

nav > h1 {
    margin: 0px auto;
}

hr {
    color: white;
    width: 920px;
}

/*css for nav menu buttons*/
a:link, a:visited {
    text-decoration: none;
    font-size: 18px;
    background-color:  rgba(255, 208, 0, 0.2);
    border: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
}

/*css for nav menu buttons*/
a:hover, a:active {
    background-color:  rgba(255, 208, 0, 0.6); 
    transition: 0.4s;
}

/*css for the navigation menu*/
.navBar {
    text-align: center;
    margin: auto;
    margin-right: 0px;
}

/*fills in the edges of the nav menu*/
.navBorder {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

/*css for the nav h1 tag containing my name*/
.myName {
    background-color: rgba(255, 208, 0, 0.2);
    text-align: center;
    width: 20%;
    padding: 25px 0px;
    margin-left: 0px;
    margin-right: 500px;
}
/*****--------------------SECTION CSS--------------------*****/

/*css for the about me section in the index.html*/
section {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    clear: both;
    margin: 0 auto;
    margin-top: 40px;
    width: 960px;
    height: 100%;
    position: relative;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.479);
    min-height: 100%;
}

section > h1 {
    margin-left: 20px;
    padding-top: 20px;
}

/*styling for contact.html section tag*/
.contactSection {
    height: 500px;
    margin-bottom: 222px;
}

/*styling for portfolio.html section tag*/
.portfolioSection {
    height: 700px;
    margin-bottom: 30px;
    overflow: hidden;
}

/*placement for the img for the index profile pic*/
section > img {
    object-fit: cover;
    position: relative;
    transform:rotate(-90deg);
    top: -83px;
    left: 20px;
}

/*for index.html div containing two p tags next to the img*/
.section1 {
    float: left;
    padding-left: 20%;
    margin-top: 10px;
}

/*for index.html div containing the p tag below the img*/
.section2 {
    padding-left: 3%;
    position: relative;
    bottom: 160px;
    text-indent: 165px;
    margin-top: 50px;
}

/*flex div containing a display of my projects*/
.projectContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 30%;
}

.projectContainer > div {
    object-fit: contain;
    margin: 20px;
}

/*adjust index.html section margin*/
#indexMargin {
    margin-bottom: 208px;
    height: 350px;
}

/*display text on top of the 1st row of 'coming soon' imgages*/
.imgText {
    position: absolute;
    z-index: 999;
    background-color:  rgba(255, 208, 0, 0.4);
    margin: 0 auto;
    padding-left: 45px;
    padding-right: 37.5px;
    text-align: center;
    top: 26.1%
}

/*display text on top of the 2nd row of 'coming soon' imgages*/
.imgText1 {
    position: absolute;
    z-index: 998;
    background-color:  rgba(255, 208, 0, 0.4);
    margin: 0 auto;
    padding-left: 45px;
    padding-right: 37.5px;
    text-align: center;
    top: 59.4%;
}

/*display text on top of the 3rd row of 'coming soon' imgages*/
.imgText2 {
    position: absolute;
    z-index: 997;
    background-color:  rgba(255, 208, 0, 0.4);
    margin: 0 auto;
    padding-left: 45px;
    padding-right: 37.5px;
    text-align: center;
    top: 92.7%;  
}

/*****--------------------FORUM CSS--------------------*****/
.forumArea {
    padding-left: 20px;
    padding-top: 10px;
    line-height: 36px;
}

form > input {
    width: 920px;
    height: 30px;
}

.submitButton {
    text-decoration: none;
    font-size: 18px;
    background-color:  rgba(255, 208, 0, 0.2);
    border: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 5px 20px;
}

.submitButton:hover {
    background-color:  rgba(255, 208, 0, 0.6);  
    transition: 0.4s;  
}

/*****--------------------FOOTER CSS--------------------*****/

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding-bottom: 20px;
    margin-top: 100px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    clear: both;
    overflow: hidden;
}

footer > h6 {
    position: relative;
    bottom: -15px;
    margin: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
    overflow: auto;
}

#content-wrap {
    padding-bottom: 2.5rem;
    margin-bottom: 20px;
}


/*----------  Media Responsiveness  ----------*/


/*settings for desktop*/
@media only screen and (max-width: 980px) {

    
    /*----------  navigation bar  ----------*/
    nav {
        width: 800px;
    }
    .myName {
        width: 25%;
        margin-right: 100px;
    }
    
    /*----------  section tag  ----------*/
    section {
        width: 500px;
        height: 400px;
        margin-left: 75px;
    }
    hr {
        width: 450px;
    }
    section > img {
        top: -155px;
    }
    .section1, .section2 {
        font-size: 15px;
    }
    .section1 {
        padding-left: 190px;
        padding-right: 20px;
    }
    .section2 {
        padding-right: 20px;
        margin-top: 0px;
        padding-left: 25px;
        
    }
    #indexMargin {
        height: 380px;
    }
    .projectContainer{
        width: 500px;
        left: -150px;  
    }
    .imgText{
        top: 26.1%;
        padding-right: 37.5px;
    }
    .imgText1 {
        top: 59.4%;
        padding-right: 37.5px;
    }
    .imgText2 {
        top: 92.7%;
        padding-right: 37.5px;
    }
    section.portfolioSection > h1 {
        padding-top: 0px;
    }
    form > input {
        width: 460px;
    }
    textarea {
        width: 455px;
    }
}

/*settings for tablet*/
@media only screen and (max-width: 768px) {
/*----------  navigation bar  ----------*/
    nav {
        width: 95%;
    }
/*----------  section tag  ----------*/
    section {
        width: 710px;
        height: 400px;
        margin-left: 20px;
    }
    hr {
        width: 650px;
    }
    section > img {
        top: -107px;
    }
    .section2 {
        text-indent: 165px;
        margin-top: 30px;
    }
    .projectContainer{
        padding-left: 16em;
        padding-right: 16em;
    }
    #indexMargin {
        height: 350px;
    }
    form > input {
        width:670px;
    }
    textarea {
        width: 665px;
    }
}

/*settings for mobile phone in landscape*/
@media only screen and (max-width: 640px) {
    /*----------  navigation bar  ----------*/
    nav {
        position: static;
        display: table;
        width: 640px;
        padding-bottom: 25px;   
    }
    .myName {
        display: table-caption;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .navBar {
        width: 100%;
        display: table-footer-group;
    }
    hr {
        width: 550px;
    }
    /*----------  section tag  ----------*/
    section {
        margin-left: 20px;
        width: 600px;
        height: 375px;
    }
    section > img {
        top: -130px;
    }
    .section2 {
        margin-top: 10px;
    }
    #indexMargin {
        height: 380px;
        margin-bottom: 20px;
    }
    .portfolioSection {
        height: 380px;
        overflow: auto;
        overflow-x: hidden;
    }
    .projectContainer {
        padding-left: 200px;
    }
    form > input {
        width: 550px;
    }
    textarea {
        width: 550px;
        height: 50px;
    }
    .contactSection {
        height: 400px;
        /* padding-bottom: 20px; */
        margin-bottom: 90px;
    }
    .submitButton {
        width: 554px;
    }
    
/*****--------------------FOOTER CSS--------------------*****/
    footer {
        width: 100%;
        overflow: hidden;
    }

}

